.factGrit {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 1rem 1rem 3rem;
    text-align: center;
    margin: auto;
}

.imgBean {
    margin: auto;
    width: 50%;
}

@media (max-width: 1200px) {
    .factGrit {
        grid-template-columns: repeat(2, auto);
    }
}