@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
  cursor: pointer;
}

h1{
  font-family: "Lobster";
  color: #ec2c2f;
  text-align: center;
  font-size: 2.5rem;
}

body {
  background-color: #eeeae6;
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #ee9085;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ec2c2f;
}